*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}

body {
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    width: 100%;

}

.background-images {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    
}


.background-images img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    
}


.overlay {
    background-color: rgba(87, 78, 78, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

header {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 1000;
    
}


.logo-container {
    font-size: 2.5em;
    font-weight: bold;
    width: 10%;
    display: block;
    position: relative;
    transform: translateX(-20px);
    z-index: 1000;
    top: 50px;
    
    
}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    transform: translateX(130px);
}


.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: "Aguafina Script", cursive;
    font-size: 30px;
    color: rgb(68, 37, 37);
    transform: translateX(250px);
    
}

.search-bar {
    margin-left: 1140px;
    position: relative;
    bottom: 13px;
    width: auto;
    height: auto;
    z-index: 1000;
    

}

.search-bar input {
    width: 280px;
    height: 30px;
    background-color: transparent;
    
}

.search-btn {
    font-size: 20px;
    cursor: pointer;

}

/* .nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

} */

/* .nav-bar a :hover{
    background: #8B4513;
    color: #FFD700;
    
} */



.nav-container {
    width: 100%;
    height: 170px;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    position: sticky;
    display: flex;
    font-size: 25px;
    background-color: white;
    top: 0;
    align-items: center;
    transform: translateY(-126px);
    
       
}


.nav-container ul{
    display: flex;
    gap: 30px;
    margin-left: auto;
    text-decoration: solid;
    transform: translateX(-60px);

}

.nav-container a{
    color:black;
    
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
}

.navivagation-links{
    transform: translateX(100px);

}

.right-nav {
    position: relative;
    left: 20px;

}

.right-nav a{
    color: black;
    font-size: 25px;
}

.right-nav a:hover{
    text-decoration: none;
}

.nav-container button {
    width: 90px;
    height: 35px;
    font-size: 25px;
    display: flex;
    border-style: none;
    opacity: 1000px;
    background-color: transparent;
    
}

.nav-container button:hover{
    background-color: rgb(150, 110, 110);
    transition: all 0s;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: rgb(145, 48, 48);
} 



.make-quick-order {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #7d6969;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: sticky;
    

}

.make-quick-order p {
    font-size: 30px;
}

.make-quick-order a {
    font-size: 20px;
}

.make-quick-order button {
    height: 30px;
    width: 150px;
    margin: 30px;
    border-style: groove;
    background-color: transparent;
    
}

.make-quick-order button:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
}


.our-best-product {
    font-size: 23px;
    color: #4f4545;
    margin: 80px;
    
}

.our-best-product h2 {
    color: #4f4545;
    transform: translateY(-40px);
    margin-left: 600px;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.paragraph-b {
    font-size: 20px;
  
}

.paragraph-c {
    font-size: 20px;
  
}

.sweet-image {
    width: 700px;
    height: 400px;
    transform: translateX(800px);
    position: relative;
    top: -267px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

main{
    flex-grow: 1;
   
}

/* .top-main {
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
} */

.middlepage-cake {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    grid-template-columns:max-content;
    transition: all 0.3s ease-in-out;
    height: auto;
    transform: translateY(-290px);

}


.middlepage-cake img {
    width: 200px;
    height: auto;
    object-fit: scale-down;
    transform: translateX(25px);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.middlepage-cake img:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
    


.footer-container {
    box-sizing: border-box;
    background-color: rgb(180, 129, 129);
    color: white;
    padding: 30px 30px;
    bottom: -430px;
    display: flex;
    font-size: 20px;
    line-height: 1.6;
    gap: 50px
    
}

.footer-container a {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container button {
    width: 30px;
    height: 30px;
    
}

.social-links {
    display: flex;
}

.newsletter-container button {
    width: 70px;
}
.newsletter-container input {
    width: 70%;
    height: 26px;
}




.footer-logo-container img {
   width: 100px;
   border-radius: 50%;
}





.legal-links-container {
    text-align: center;
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: white;
    position: sticky;
    bottom: 0;
    

}

.legal-links-container a {
    color: white;
}

.legal-links-container a:hover{
    text-decoration: underline;
}