*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

.sticky-header {
    background: #A0522D;
    padding: 15 20px;
    text-align: center;
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);

}

body {
    background-color: #e6d2c3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    overflow: auto;



}

.webkit-scrollbar-button {
    width: thin;
    color: #E891A3 #FDF6E9;
}

header {
    background-image: url(../images/header-image.jpg);
    
}


.logo-container {
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/logobackgr.png);
    text-align: center;

}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    align-items: center;
    transition: 0.5s ease;
   
    

}
.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 1px;

}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.nav-bar a :hover{
    background: #8B4513;
    color: #FFD700;
    
}



.nav-container {
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(126, 113, 113);
    color: white;
    display: flex;
    font-size: 25px;
    

}


.nav-container ul{
    display: flex;
    gap: 50px;
    margin-left: auto;
    text-decoration: solid;

}

.nav-container a{
    color: white;
    
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: black;
}

.navivagation-links{
    transform: translateX(100px);

}

.right-nav a:hover{
    text-decoration: none;
}

.nav-container button {
    background-color: rgb(184, 143, 89);
    width: 90px;
    height: 35px;
    font-size: 20px;
    display: flex;
}

.nav-container button:hover{
    background-color: black;
    transition: all 0.3s;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: white;
} 

main{
    flex-grow: 1;
}

.top-main {
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

.middle-main {
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.down-main {
    background-color: #FDF6E9;
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
    


.footer-container {
    box-sizing: border-box;
    background-color: rgb(180, 129, 129);
    color: white;
    padding: 30px 30px;
    margin-top: auto;
    display: flex;
    font-size: 20px;
    line-height: 1.6;
    gap: 50px
    
}

.footer-container a {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container button {
    width: 30px;
    height: 30px;
    
}

.social-links {
    display: flex;
}

.newsletter-container button {
    width: 70px;
}
.newsletter-container input {
    width: 70%;
    height: 26px;
}



.footer-logo-container img {
   width: 100px;
   border-radius: 50%;
}


.copyright-text {
   text-align: center;
   width: 100%;
   background-color: rgb(22, 18, 18);
   color: white;
        
}


.legal-links-container {
    text-align: center;
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: white;
    

}

.legal-links-container a {
    color: white;
}

.legal-links-container a:hover{
    text-decoration: underline;
}