*{
    /* outline: 1px solid red;
    border: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

.background-img-container {
    height: 100vh;
    display: flex;
    width: 300%;
    height: 100vh;
    transition: transform 0.8s ease-in-out;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.cover-img {
    min-width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3)
}


.site-header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    /* position: fixed; */
    
}

.nav-container {
    width: 100%;
    height: 170px;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    top: 0;
    align-items: center;
       
}


.logo-container {
    font-size: 2.5em;
    font-weight: bold;
    width: 10%;
    display: block;
    top: 0;
    
}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    transform: translateX(100px);
}


.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: "Aguafina Script", cursive;
    font-size: 35px;
    color: rgb(68, 37, 37);
    transform: translateX(200px);
    position: absolute;
    top: 25px;
    align-content: center;
    justify-content: center;

    
    
}

.search-bar {
    position: absolute;
    top: 66px;
    width: 100px;
    height: 34px;
    z-index: 1000;
    transform: translateX(1200px);

}


.search-bar input {
    width: 285px;
    height: 30px;
    background-color: transparent;
    transform: translateX(35px);
    
}

.search-btn {
    width: auto;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;

}



.nav-container ul{
    display: flex;
    gap: 30px;
    margin-left: auto;
    text-decoration: solid;
    transform: translateX(-60px);

}

.nav-container a{
    color:black;
    
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
}

.navivagation-links{
    transform: translateX(100px);

}

.right-nav {
    position: relative;
    left: 20px;

}

.right-nav a{
    color: black;
    font-size: 25px;
}

.right-nav a:hover{
    text-decoration: none;
}

.nav-container button {
    width: 90px;
    height: 35px;
    font-size: 25px;
    display: flex;
    border-style: none;
    opacity: 1000px;
    background-color: transparent;
    
}

.nav-container button:hover{
    background-color: rgb(150, 110, 110);
    transition: all 0s;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: rgb(145, 48, 48);
} 

.next-page-middle {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}



.make-quick-order {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #7d6969;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}

.make-quick-order p {
    font-size: 30px;
}

.make-quick-order a {
    font-size: 20px;
}

.make-quick-order button {
    height: 30px;
    width: 150px;
    margin: 30px;
    border-style: groove;
    background-color: transparent;
    
}

.make-quick-order button:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
    cursor: pointer;

}




.our-best-product {
    font-size: 23px;
    color: #4f4545;
    margin: 80px;
    
}

.our-best-product h2 {
    color: #4f4545;
    transform: translateY(-40px);
    margin-left: 600px;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.paragraph-b {
    font-size: 20px;
  
}

.paragraph-c {
    font-size: 20px;
  
}

.sweet-image {
    width: 700px;
    height: 400px;
    transform: translateX(800px);
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    top: 1190px;
}


.middlepage {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    grid-template-columns:max-content;
    transition: all 0.3s ease-in-out;
    height: auto;
    position: relative;
    top: 130px;
    

}


.middlepage img {
    width: 204px;
    height: auto;
    object-fit: scale-down;
    transform: translateX(-4px);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.middlepage-cake img:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
} 
    
.last-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#footer-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(180, 129, 129);
    color: white;
    padding: 30px 30px;
    display: flex;
    font-size: 20px;
    line-height: 1.6;
    gap: 50px;
    bottom: 0;
    position: relative;
    
}

.footer-container a {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container button {
    width: 30px;
    height: 30px;
    
}

.social-links {
    display: flex;
}

.newsletter-container button {
    width: 70px;
}
.newsletter-container input {
    width: 70%;
    height: 26px;
}

.footer-logo-container img {
   width: 100px;
   border-radius: 50%;
}

.legal-links-container {
    text-align: center;
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: white;
    bottom: 0;
    

}

.legal-links-container a {
    color: white;
}

.legal-links-container a:hover{
    text-decoration: underline;
}