*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    width: 100%;

}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    z-index: 1;
    filter: blur(1.5px);
}

body > *{
    position: relative;
    z-index: 2;
    margin-bottom: 430px;
}


.sticky-header {
    /* padding: 15 20px;
    text-align: center;
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    border-style: none;
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto; */

    position: relative;
    /* height: 500px; */

}




.logo-container {
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url(../images/logobackgr.png); */
    text-align: center;
    background-color: transparent;

}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    align-items: center;
    
}


.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: "Aguafina Script", cursive;
    font-size: 50px;
    color: rgb(68, 37, 37);
    margin-top: 1px;

}

.search-bar {
    margin-left: 1440px;
    position: relative;
    bottom: 55px;
    width: auto;
    height: auto;
    

}

.search-bar input {
    width: 280px;
    height: 30px;
    background-color: transparent;
    
}

.search-btn {
    font-size: 20px;
    cursor: pointer;

}

/* .nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

} */

/* .nav-bar a :hover{
    background: #8B4513;
    color: #FFD700;
    
} */



.nav-container {
    padding: 20px;
    margin:0;
    box-sizing: border-box;
    position: sticky;
    display: flex;
    font-size: 25px;
    background-color: white;
    top: 0;
    z-index: 1000;
    
}


.nav-container ul{

    display: flex;
    gap: 50px;
    margin-left: auto;
    text-decoration: solid;

}

.nav-container a{
    color:black;
    /* font-weight: bolder; */
    
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
}

.navivagation-links{
    transform: translateX(100px);

}

.right-nav {
transform: translateX(-75px);

}

.right-nav a{
    color: black;
    font-size: 25px;
}

.right-nav a:hover{
    text-decoration: none;
}

.nav-container button {

    width: 90px;
    height: 35px;
    font-size: 25px;
    display: flex;
    border-style: none;
    opacity: 1000px;
    background-color: transparent;
    
}

.nav-container button:hover{
    background-color: rgb(150, 110, 110);
    transition: all 0s;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: rgb(145, 48, 48);
} 


.slide-container {
    padding: 0;
    margin: 3em auto;
    gap: 1em;
    width: 100%;
    overflow-x: auto;
    height: 450px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    

}

/* .slide-container::scroll-button(right) {
    content: icon;
    border: none;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    scroll-behavior: smooth;
   
}

.slide-container::scroll-button(left) {
    content: icon;
    border: none;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
   
} */


.carouse-container div {
    width: 300px;
    max-height: fit-content;
    /* position: absolute; */
    transform: translateX(50px);
    display: flex;
    scroll-snap-type: x mandatory;
    animation: slide 15s infinite linear;
    
    
    
    
}

.slide-container img {
    width: 460px;
    object-fit:contain;
    scroll-snap-align: center;
    overflow: hidden;
    
}

.make-quick-order {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
    bottom: 100px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    bottom: 255px;
    gap: 150px;

}

.make-quick-order p {
    font-size: 30px;
}

.make-quick-order a {
    font-size: 20px;
}

.make-quick-order button {
    height: 30px;
    margin: 30px;
    border-style: groove;
    
}

.our-product {
    background-color: rgb(248, 248, 248);
    margin: 8px;
    padding: 0;
    font-size: 30px;
    bottom: 260px;
    justify-items: center;
    align-items: center;
    width: 1200px;
    height: 200px;
    transform: translateX(300px);

    
}

.our-product p {
    justify-items: center;

}

main{
    flex-grow: 1;
   
}

/* .top-main {
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
} */

.middlepage-cake {
    margin-top: 0;
    padding: 0;
    background-color: #ffffff;
    height: 10px;
    width: 100%;
    grid-template-columns:max-content;
    transform: translateY(-250px);
    transition: all 0.3s ease-in-out;

}


.middlepage-cake img {
    width: 310px;
    height: 450px;
    object-fit: scale-down;
    transform: translateX(1px);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.middlepage-cake img:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
    


.footer-container {
    box-sizing: border-box;
    background-color: rgb(180, 129, 129);
    color: white;
    padding: 30px 30px;
    bottom: -430px;
    display: flex;
    font-size: 20px;
    line-height: 1.6;
    gap: 50px
    
}

.footer-container a {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container button {
    width: 30px;
    height: 30px;
    
}

.social-links {
    display: flex;
}

.newsletter-container button {
    width: 70px;
}
.newsletter-container input {
    width: 70%;
    height: 26px;
}




.footer-logo-container img {
   width: 100px;
   border-radius: 50%;
}





.legal-links-container {
    text-align: center;
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: white;
    position: sticky;
    bottom: 0;
    

}

.legal-links-container a {
    color: white;
}

.legal-links-container a:hover{
    text-decoration: underline;
}