*{
    /* outline: 1px solid red;
    border: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}


.background-img-container {
    height: 100vh;
    display: flex;
    width: 300%;
    height: 100vh;
    transition: transform 0.8s ease-in-out;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.cover-img {
    max-width: 100%;
    min-width: 100vw;
    height: auto;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 900px rgba(0, 0, 0, 0.3)
}

.img-ontop-img {
    transform: translateX(75%);
}



.site-header {
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1000;
    position: fixed;
    
}

.nav-container {
    width: 100%;
    height: 15.7vh;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    top: 0;
    align-items: center;
       
}


.logo-container {
    font-size: 2.5em;
    font-weight: bold;
    width: 10%;
    display: block;
    top: 0;
    
}

.logo-container img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    transform: translateX(10%);
    
}


.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: "Aguafina Script", cursive;
    font-size: 2.4rem;
    color: rgb(68, 37, 37);
    transform: translateX(100%);
    position: absolute;
    top: 20%;
    align-content: center;
    justify-content: center;

    
    
}

.search-bar {
    position: absolute;
    top: 60%;
    width: 1%;
    /* height: 1%; */
    z-index: 1000;
    transform: translateX(6300%);

}


.search-bar input {
    width: 1400%;
    height: 3.5vh;
    background-color: transparent;
    transform: translateX(11%);
    
}

.search-btn {
    width: auto;
    height: 4vh;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;

}



.nav-container ul{
    display: flex;
    gap: 2vw;
    bottom: 8%;
    text-decoration: solid;
    transform: translateX(55%);
    font-size: 1.5rem;
    position: absolute;
    

}

#hamburger-btn {
    display: none;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    width: 3%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(58rem);
    
    
}

.hamburger-line {
    display: block;
    width: 100%;
    height: 2%;
    background: #333;
    margin: 3px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
    
}


.nav-container a{
    color:black;
    
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
}

/* .navivagation-links{
    transform: translateX(100px);

} */

.right-nav {
    position: absolute;
    left: 85rem;

}

.right-nav a{
    color: black;
    font-size: 1.5rem;
}

.right-nav a:hover{
    text-decoration: none;
}

.nav-container button {
    width: 90%;
    height: 3vh;
    font-size: 1.5rem;
    display: flex;
    border-style: none;
    opacity: 1000;
    background-color: transparent;
    
}

.nav-container button:hover{
    background-color: rgb(150, 110, 110);
    transition: all 0s;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: rgb(145, 48, 48);
} 

.next-page-middle {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}



.make-quick-order {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    background-color: #7d6969;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 3%;
    
}

.make-quick-order p {
    font-size: 2rem;

}

.make-quick-order a {
    font-size: 1.1rem;
    
}

.make-quick-order button {
    height: 4vh;
    width: 10vw;
    margin: 0;
    border-style: groove;
    background-color: transparent;
    
}

.make-quick-order button:hover {
    text-decoration: underline;
    background-color: rgb(150, 110, 110);
    cursor: pointer;

}




.our-best-product {
    font-size: 1.5rem;
    color: #4f4545;
    margin: 4%;
    font-family: "Caveat", cursive;
    
}

.our-best-product h2 {
    color: #4f4545;
    /* transform: translateY(-40px); */
    margin-left: 30%;
    font-size: 2rem;
    font-family: "Monoton", sans-serif;
    word-spacing: 0.5rem;
    
}

.our-best-product button {
    background-color: rgb(198, 81, 81);
    width: 26vw;
    height: 4.6vh;
    font-size: 1.6rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -66%;
}

.our-best-product a {
    color: white;
}

.paragraph-b {
    font-size: 2rem;
  
}

.paragraph-c {
    font-size: 2rem;

}

.sweet-image {
    width: 40%;
    height: 40%;
    transform: translateX(135%);
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    top: 120%;
}

.sweet-image{
    max-width: 100%;
}


.middlepage {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    grid-template-columns:max-content;
    transition: all 0.3s ease-in-out;
    height: auto;
    position: relative;
    top: 10%;
    

}


.middlepage img {
    max-width: 100%;
    width: 10.6vw;
    height: auto;
    object-fit: scale-down;
    transform: translateX(5%);
    border-radius: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.middlepage img:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
    cursor: pointer;
} 
    
.last-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#footer-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(180, 129, 129);
    color: black;
    padding: 1.8rem 1.8rem;
    display: flex;
    font-size: 1.25rem;
    line-height: 1.6;
    gap: 3.1rem;
    bottom: 0;
    position: relative;
    
}

#footer-container a {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    

}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container button {
    width: 1.5vw;
    height: 1.5vh;
    
}

.social-links {
    display: flex;
}

.newsletter-container button {
    width: 3.6vw;
}
.newsletter-container input {
    width: 70%;
    height: 2.7vh;
}

.footer-logo-container img {
   width: 5.2vw;
   border-radius: 50%;
}

.legal-links-container {
    display: flex;
    width: 100%;
    background-color: rgb(22, 18, 18);
    color: white;
    bottom: 0;

}


.legal-links-container p {
    color: white;
    transform: translateX(770px)

}

.legal-links-container a:hover{
    text-decoration: underline;
}
    

/* --- Media Query for small/phone (Max Width 576px) --- */
@media screen and (max-width: 576px) {
.logo-container img {
    transform: translateY(5px);
}
.logo-text {
    font-size: 1.7rem;
    top: 1rem;
    
}

.nav-container ul{
    display: none;

}  
#hamburger-btn {
    display: block;

}


}

/* --- Media Query for medium/tablet portrate (Max Width 768px) --- */
@media screen and (max-width: 768px) {
    

}

/* --- Media Query for medium/tablet landscape (Max Width 992px) --- */
@media screen and (max-width: 992px) {
    

}

/* --- Media Query for large/desktop (Max Width 1200px) --- */
@media screen and (max-width: 1200px) {
    

}



