*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
body {
    background-color: #e6d2c3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    overflow: auto;



}

.webkit-scrollbar-button {
    width: thin;
    color: #E891A3 #FDF6E9;
}

header {
    background-image: url(../images/header-image.jpg);
    
}


.logo-container {
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/logobackgr.png);
    text-align: center;

}

.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    align-items: center;
    transition: 0.5s ease;
   
    

}
.logo-link a:hover {
    transition: color 0.3s ease;
}

.logo-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}


.sticky-header{
    position: sticky;
    top: 0;
}

main{
    flex-grow: 1;
}

.top-main {
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

.middle-main {
    background-color: #FDF6E9;
    min-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav-container {
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(126, 113, 113);
    color: white;
    display: flex;
    font-size: 25px;
    

}


.nav-container ul{
    display: flex;
    gap: 50px;
    margin-left: auto;
    text-decoration: solid;

}

.nav-container a{
    color: white;
    
}

.navivagation-links{
    transform: translateX(100px);

}

.nav-container button {
    background-color: rgb(65, 57, 48);
    width: 100px;
    font-size: 20px;
}

.fas.fa-user, .fas.fa-shopping-cart, .fas.fa-shopping-bag {
    color: white;
} 
    
    


.footer-container {
    box-sizing: border-box;
    background-color: rgb(43, 11, 11);
    color: white;
    padding: 100px 100px;
    margin-top: auto;
    display: flex;
    font-size: 20px;
    line-height: 1.6;
    gap: 50px
    
}



.footer-logo-container img {
   width: 100px;
   border-radius: 50%;
}


.copyright-text {
   text-align: center;
   width: 100%;
   background-color: rgb(156, 140, 140);
   color: white;
        
}


.legal-links-container {
    text-align: center;
    width: 100%;
    background-color: rgb(156, 140, 140);
    color: white;
    

}